@import "../../styles/index";

.max-container{
	position: absolute;
	right: 0;
	width: 70%;
	min-height: 100%;
	@media(max-width: $xl){
		width: 60%;
	}
	@media(max-width: $lg){
		width: 55%;
	}
	@media(max-width: $md){
		position: static;
		width: 100%;
	}
	.inner{
		padding: 30px;
	}
}