@import "../../styles/index";

.post-container{
	background-color: map-get($backgrounds,post);
}

#post{
	background-color: #FFF;
	box-shadow: $card-shadow;
	border-radius: $border-radius;
	overflow: hidden;
	#img-post{
		width: 100%;
		height: 260px;
		object-fit: cover;
	}
	article.inner{
		padding: 30px;
	}
	header{
		h1{
			@extend %simple-title;
		}
		p{
			color: $muted-text;
			margin-top: 25px;
			font-size: 11px;
			text-transform: uppercase;
			@media(max-width: $md){
				margin-bottom: 25px;
			}
			a{
				margin-left: 3px;
				@extend %hover-link;
				&:hover{
					font-weight: bold;
				}
			}
		}
	}
	.text{
		color: $title-text;
		font-size: 13px;
		line-height: $line-height;
		h2{
			font-size: 21px;
			margin: 25px 0;
		}
		ul, p, blockquote{
			margin-bottom: 20px;
		}
		ul{
			list-style: initial;
			margin-left: 30px;
		}
		blockquote{
			font-size: 14.5px;
			border-left: solid 5px #DCDCDC;
			padding: 10px 0 10px 10px;
			background-color: #FBFBFB;
		}
	}
	.divider{
		margin: 25px 0;
	}
}

